<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TO-DO-LIST</h1>
    
    <table border="1">
        <tr>
            <th>s.no</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>DUE DATE</th>
            <th>COMPLETION STATUS</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {% for d in data %}
        <tr>
            
            <td>{{d.id}}</td>
            <td>{{d.Title}}</td>
            <td>{{d.description}}</td>
            <td>{{d.due_date}}</td>
            <td>{{d.completion_status}}</td>
            <td><a href="/edit/{{d.id}}">{{"edit"}}</a> </td>
            <td><a href="/delete/{{d.id}}">{{"delete"}}</a> </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/task_list">enter details</a>
</body>
</html>