<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/create_task">
        {% csrf_token %}
        <table>
            <tr>
                <td>TITLE</td>
                <td><input type="text" name="title"> </td>
            </tr>
            <tr>
                <td>DESCRIPTION</td>
                <td><input type="text" name="desc"> </td>
            </tr>

            <tr>
                <td>DUE_DATE</td>
                <td><input type="text" name="due_date"> </td>
            </tr>

            <tr>
                <td>COMPLETION STATUS</td>
                <!-- <td><input type="text" name="status"/> </td> -->
                <td><select name="status"> 
                    <option> Completed </option>
                    <option> Pending </option>
                    <option> Half Completed </option>
                </select></td>
            </tr>

            <tr>
                <td><input type='submit'  value="post"> </td>
            </tr>
        </table>
    </form>
</body>
</html>